.container {
    width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
        180deg,
        #b9c6d2 0%,
        #d0dde9 10.45%,
        #ffffff 41.35%
    );
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.navigation {
    justify-self: center;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
